{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="assets/images/favicon.svg"
      type="image/x-icon"
    />
    <title>Sign In | BSC VMS</title>

    <!-- ========== All CSS files linkup ========= -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/lineicons.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/materialdesignicons.min.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
  </head>
  <body>
    

    <!-- ======== main-wrapper start =========== -->
    <main class="main-wrapper">

      <!-- ========== signin-section start ========== -->
      <section class="signin-section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Sign up</h2>
                </div>
              </div>
              <!-- end col -->
              
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->

          <div class="row g-0 auth-row">
            <div class="col-lg-6">
              <div class="auth-cover-wrapper bg-primary-100">
                <div class="auth-cover">
                  <div class="title text-center">
                    <h1 class="text-primary mb-10">Get Started</h1>
                  </div>
                  <div class="cover-image">
                    <img src="{% static 'assets/images/auth/signin-image.svg' %}" alt="" />
                  </div>
                  <div class="shape-image">
                    <img src="{% static 'assets/images/auth/shape.svg' %}" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
              <div class="signup-wrapper">
                <div class="form-wrapper">
                  <h6 class="mb-15">Sign Up Form</h6>
                  <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Username</label>
                          <input type="text" id="username" name="username" placeholder="Username" />
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>First Name</label>
                          <input type="text" id="first_name" name="first_name" placeholder="First Name" />
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Last Name</label>
                          <input type="text" id="last_name" name="last_name" placeholder="Last Name" />
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Email</label>
                          <input type="email" id="email" name="email" placeholder="Email" />
                        </div>
                      </div>
                      <!-- end col -->
                      <div class="input-style-1">
                        <label>Password</label>
                        <div class="password-input">
                          <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Password"
                          />
                          <i id="togglePassword" class="lni lni-eye"></i>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="input-style-1">
                          <label>Re-enter Password</label>
                          <input
                            type="password"
                            id="reenter_password"
                            name="reenter_password"
                            placeholder="Re-enter Password"
                          />
                          <i id="togglePassword2" class="lni lni-eye"></i>
                        </div>
                      </div>
                      <!-- end col -->
                      
                      <!-- end col -->
                      <div class="col-12">
                        <div
                          class="
                            button-group
                            d-flex
                            justify-content-center
                            flex-wrap
                          "
                        >
                          <button
                            class="
                              main-btn
                              primary-btn
                              btn-hover
                              w-100
                              text-center
                            "

                            type="submit" value="Sign Up"
                          >
                            Sign Up
                          </button>
                        </div>
                      </div>
                    </div>
                    <!-- end row -->
                  </form>
                  <div class="singup-option pt-40">
                    <p class="text-sm text-medium text-center text-gray">
                      Easy Sign Up With
                    </p>
                    <div
                      class="
                        button-group
                        pt-40
                        pb-40
                        d-flex
                        justify-content-center
                        flex-wrap
                      "
                    >
                      <button class="main-btn primary-btn-outline m-2">
                        <i class="lni lni-microsoft mr-10"></i>
                        Microsoft
                      </button>
                    </div>
                    <p class="text-sm text-medium text-dark text-center">
                      Already have an account? <a href="{% url 'login' %}">Sign In</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- end col -->
          </div>
          <!-- end row -->
        </div>
      </section>
      <!-- ========== signin-section end ========== -->

      <!-- ========== footer start =========== -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 order-last order-md-first">
              <div class="copyright text-center text-md-start">
                <p class="text-sm">
                  Designed and Developed by
                  <a
                    href="#"
                    rel="nofollow"
                    target="_blank"
                  >
                    PoshGem
                  </a>
                </p>
              </div>
            </div>
            <!-- end col-->
          </div>
          <!-- end row -->
        </div>
        <!-- end container -->
      </footer>
      <!-- ========== footer end =========== -->
    </main>
    <!-- ======== main-wrapper end =========== -->

    <!-- ========= All Javascript files linkup ======== -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/moment.min.js' %}"></script>
    <script src="{% static 'assets/js/polyfill.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');
        const passwordInput = document.querySelector('#password');
        const reenterPasswordInput = document.querySelector('#reenter_password');
    
        form.addEventListener('submit', function (event) {
          const password = passwordInput.value;
          const reenterPassword = reenterPasswordInput.value;
    
          if (password !== reenterPassword) {
            alert("Passwords don't match. Please re-enter.");
            event.preventDefault();
          }
    
          if (password.length < 8 || !/[!@#$%^&*]/.test(password)) {
            alert(
              'Password must be at least 8 characters long and contain a symbol (!@#$%^&*)'
            );
            event.preventDefault();
          }
        });
      });
    </script>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        const passwordInput = document.querySelector('#password');
        const passwordInput2 = document.querySelector('#reenter_password');
        const togglePasswordButton = document.querySelector('#togglePassword');
        const togglePasswordButton2 = document.querySelector('#togglePassword2');
    
        togglePasswordButton.addEventListener('click', function () {
          if (passwordInput2.type === 'password') {
            passwordInput.type = 'text';
            togglePasswordButton.classList.remove('lni-eye');
            togglePasswordButton.classList.add('lni-eye-off');
          } else {
            passwordInput.type = 'password';
            togglePasswordButton.classList.remove('lni-eye-off');
            togglePasswordButton.classList.add('lni-eye');
          }
        });
        togglePasswordButton2.addEventListener('click', function () {
          if (passwordInput2.type === 'password') {
            passwordInput2.type = 'text';
            togglePasswordButton2.classList.remove('lni-eye');
            togglePasswordButton2.classList.add('lni-eye-off');
          } else {
            passwordInput2.type = 'password';
            togglePasswordButton2.classList.remove('lni-eye-off');
            togglePasswordButton2.classList.add('lni-eye');
          }
        });
      });
    </script>
    
    
  </body>
</html>
