
{% extends "base.html" %}
{% load humanize %}
{% load static %}
{% block content %}
   <style>
    .main-btn2 {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 15px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 4px;
  border-radius: 64px;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-in-out;
  border: 1px solid transparent;
  overflow: hidden;
  margin: 5px
}
    .pagination-buttons-container {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px; /* Adjust this value to set the desired distance from the bottom */
  left: 0;
  right: 0;
  z-index: 999; /* Ensure the buttons appear above other elements */
}
#map {
  height: 500px;
 }
.select-style-1 .select-position.select-sm::after {
    margin-top: 8px;
  }
   </style>
    <!-- ======== sidebar-nav end =========== -->

    <!-- ======== main-wrapper start =========== -->
    
      <!-- ========== header start ========== -->
      
      <!-- ========== header end ========== -->

      <!-- ========== section start ========== -->
      <section class="section">
        <div class="container-fluid">
          <!-- ========== title-wrapper start ========== -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title mb-30">
                  <h2>Overview Dashboard</h2>
                </div>
              </div>
              <!-- end col -->
              <div class="col-md-6">
                <div class="breadcrumb-wrapper mb-30">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item">
                        <a href="#0">Dashboard</a>
                      </li>
                      <li class="breadcrumb-item active" aria-current="page">
                        Overview
                      </li>
                    </ol>
                  </nav>
                </div>
              </div>
              <!-- end col -->
            </div>
            <!-- end row -->
          </div>
          <!-- ========== title-wrapper end ========== -->
          <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon purple">
                  <i class="lni lni-cart-full"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">Total Products</h6>
                  <h3 class="text-bold mb-10" id="total-products"></h3>
                  
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon success">
                  <i class="lni lni-dollar"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">Total Income</h6>
                  <h3 class="text-bold mb-10" id="total-sales"></h3>
                  <p class="text-sm text-success" id="percentage-difference">
                   
                  </p>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon primary">
                  <i class="lni lni-credit-cards"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">Total Target</h6>
                  <h3 class="text-bold mb-10" id="total-targets"></h3>
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6">
              <div class="icon-card mb-30">
                <div class="icon orange">
                  <i class="lni lni-user"></i>
                </div>
                <div class="content">
                  <h6 class="mb-10">Total Customers</h6>
                  <h3 class="text-bold mb-10" id="total-customers"></h3>
                  
                </div>
              </div>
              <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <!-- FILTERS -->
          <form action="{% url 'mt_overview' %}" method="get">
            <div class="row" id="targetDiv">
              <div class="col-lg-12">
                <div class="card-style mb-30">
                  <!-- Use "d-flex" to create a flex container and "flex-wrap" to wrap the items to the next line if necessary. -->
                  <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <!-- "mb-2" adds margin-bottom to create spacing between the filters. -->
                    <div class="select-style-1 mb-2">
                      <div class="select-position select-sm">
                        <label for="sales-month-filter">Month:</label>
                        <!-- The "light-bg" class is used for styling purposes. -->
                        <select id="sales-month-filter" class="light-bg">
                          <!-- Options for Sales Month -->
                          <option value="">All</option>
                          <option value="January">January</option>
                          <option value="February">February</option>
                          <option value="March">March</option>
                          <option value="April">April</option>
                          <option value="May">May</option>
                          <option value="June">June</option>
                          <option value="July">July</option>
                          <option value="August">August</option>
                          <option value="September">September</option>
                          <option value="October">October</option>
                          <option value="November">November</option>
                          <option value="December">December</option>
                        </select>
                      </div>
                    </div>
            
                    <!-- Repeat the same structure for other filters. -->
                    <div class="select-style-1 mb-2">
                      <div class="select-position select-sm">
                        <label for="company">Company:</label>
                        <select name="company" class="light-bg">
                          <!-- Options for Profile -->
                          <option value="">All</option>
                          <option value="western_union">Western Union</option>
                          <option value="moneygram">MoneyGram</option>
                          <option value="mpesa">M-Pesa</option>
                          <option value="dubai">Dubai</option>
                        </select>
                      </div>
                    </div>
            
                    <div class="select-style-1 mb-2">
                      <div class="select-position select-sm">
                        <label for="transaction_type">Transaction Type:</label>
                        <select name="transaction_type" class="light-bg">
                          <!-- Options for Profile -->
                          <option value="">All</option>
                          <option value="send">Send Money</option>
                          <option value="receive">Receive Money</option>
                        </select>
                      </div>
                    </div>
            
                    
                    
                    <div class="select-style-1 mb-2">
                      <div class="select-position select-sm">
                        <label for="start_date">Date:</label>
                        <select name="start_date" class="light-bg">
                          <!-- Options for Customer Category -->
                          <option value="">All</option>
                          <option value="Standard">From</option>
                          <option value="VIP">To</option>
                        </select>
                      </div>
                    </div>
                    <button type="submit" class="main-btn primary-btn btn-hover">Filter</button>
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!--all sales-->
          <div class="row">
            <div class="col-lg-12">
           <div class="card-style mb-30">
             <div
               class="
                 title
                 d-flex
                 flex-wrap
                 align-items-center
                 justify-content-between
               "
             >
               <div class="left">
                 <h6 class="text-medium mb-30">Money Transfer Transactions</h6>
               </div>
               
             </div>
             <!-- End Title -->
             <div class="table-responsive">
               
               <table id="data-table" class="table top-selling-table">
                 <thead>
                   <tr>
                     <th><h6 class="text-sm text-medium">Company Name</h6></th>
                     <th class="min-width"><h6 class="text-sm text-medium">Transaction Type</h6></th>
                     <th class="min-width"><h6 class="text-sm text-medium">Client Name</h6></th>
                     <th class="min-width"><h6 class="text-sm text-medium">Amount</h6></th>
                     <th class="min-width"><h6 class="text-sm text-medium">Date </h6></th>
                   </tr>
                 </thead>
                 <tbody>
                   <!-- table rows will be dynamically added using JavaScript -->
                   {% for transaction in transactions %}
                   <tr>
                     <td class="min-width"><p><a href="#0">{{ transaction.get_company_display }}</a></p></td>
                     <td class="min-width"><p>{{ transaction.transaction_type }}</p></td>
                     <td class="min-width"><p>{{ transaction.sender_name }}</p></td>
                     <td class="min-width"><p>{{ transaction.amount|intcomma }}</p></td>
                     <td class="min-width"><p>{{ transaction.date }}</p></td>
                   </tr>
                   {% endfor %}
                   <!-- <tr>
                    <td class="min-width">
                      <p><a href="#0">Equity Bank</a></p>
                    </td>
                    <td class="min-width">
                      <p>Deposit</p>
                    </td>
                    <td class="min-width">
                      <p>John</p>
                    </td>
                    <td class="min-width">
                      <p>10000</p>
                    </td>
                    <td class="min-width">
                      <p>11-11-2019</p>
                    </td>
                  </tr> -->
                 </tbody>
               </table>
               <p>Total Amount: <span class="fw-bold">{{ total_amount|intcomma }}</span> </p>
               <!-- End Table -->
               <div id="pagination-buttons" class="pagination-buttons d-flex justify-content-center"></div>
             </div>
           </div>
         </div>
       </div>


       

          
      </section>
      <!-- ========== section end ========== -->

      
    </main>
    <!-- ======== main-wrapper end =========== -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
        // Hide the div initially (optional)
        $('#targetDiv').hide();
    
        // Add click event listener to the button
        $('#toggleButton').on('click', function() {
        // Toggle the visibility of the div
        $('#targetDiv').toggle();
        });
        });
    </script>
  

    
{% endblock content %}
