{% extends "base.html" %}

{% load static %}
{% block content %}
<main class="main-wrapper">

  <!-- ========== header end ========== -->

  <div class="form-container">
      <section class="table-components">
      <div class="col-lg-6">
        <div class="card-style settings-card-2 mb-30">
          {% include 'partials/alerts.html' %}
          <div class="title mb-30">
            <h6>Register</h6>
          </div>
          <form method="post" id="register-form" action="{% url 'mt_record' %}">
            {% csrf_token %}
            <div class="row">
              <!-- Move ID/Passport Number field and add the search button -->
                <div class="select-style-1">
                    <label for="company">Company Name</label>
                    <div class="select-position">
                    <select name="company"  required>
                        <option value="">Select Company</option>
                        <option value="western_union">Western Union</option>
                        <option value="moneygram">MoneyGram</option>
                        <option value="mpesa">M-Pesa</option>
                        <option value="dubai">Dubai</option>
                    </select>
                    </div>
                </div>
                <div class="select-style-1">
                    <label for="transaction_type">Transaction Type</label>
                    <div class="select-position">
                      <select name="transaction_type"  required>
                        <option value="">Select Transaction Type</option>
                        <option value="send">Send Money</option>
                        <option value="receive">Receive Money</option>
                      </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-style-1">
                        <label for="location">Location (Country)</label>
                        <input type="text" placeholder="Country" name="location" id="location" required />
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-style-1">
                        <label for="sender_name">Client Name</label>
                        <input type="text" placeholder="Full Name" name="sender_name" id="sender_name" required />
                    </div>
                </div>
                <div class="col-12">
                    <div class="input-style-1">
                        <label for="sender_id_passport">Client ID/Passport</label>
                        <input type="text" placeholder="Client ID/Passport" name="sender_id_passport" id="sender_id_passport" required />
                    </div>
                </div>


            
                <div class="col-12">
                    <div class="input-style-1">
                    <label for="amount">Amount</label>
                    <input type="number" placeholder="Amount" name="amount" id="amount" required />
                    </div>
                </div>              
                <div class="col-12">
                    <button type="submit" class="main-btn primary-btn btn-hover">
                    Register
                    </button>
                </div>
            </div>
          </form>
          
        </div>
        <!-- end card -->
      </div>
      </section>

  </div>
</main>

{% endblock content %}